* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	position: relative;
	overflow: hidden;
}

header {
	background-color: white;
	height: 80px;
	display: flex;
	justify-content: space-between;
}

.logo-area {
	display: flex;
	align-items: center;
	height: 100%;
	width: 90px;
}

.logo-area img {
	width: 100%;
	height: 90%;
	z-index: 1000;
}

.hamburger-area {
	height: 100%;
	width: 90px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 35px;
}

.hamburger-area i {
	margin-right: 15px;
	cursor: pointer;
}

.nav-mobile {
	display: flex;
	justify-content: flex-end;
	height: 100vh;
	width: 100%;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(1000px);
	transition: transform 0.3s ease-in-out;
	z-index: 100;
}

.close-menu-area {
	height: 10%;
	width: 90px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 30px;
	cursor: pointer;
}
.close-menu-area i {
	margin-right: 15px;
	font-size: 40px;
}

.show-menu {
	transform: translateX(0);
}

.hide-menu {
	transform: translateX(1000px);
}
